@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.input {
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 3rem;
  }
}

.inputBox {
  position: relative;
}

.error {
  position: absolute;
  bottom: 13px;
  left: 0;
  color: red;

  &Input {
    border: 1px red solid;
  }
}
