@import "../../styles/variables.scss";

.button {
  height: 30px;
  border-radius: 25px;
  margin: 0;
  padding: 0 24px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.orange {
  background-color: $primary-color;
  color: white;
}

.white {
  background-color: white;
  color: $text-color;
}

.blue {
  background-color: $text-color;
  color: white;
}
