.profile {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  width: 100%;

  &Img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    width: 10rem;
    height: 10rem;
    border-radius: 50px;
    margin: 0 auto;
  }

  &Letter {
    font-size: 6rem;
  }

  &Name {
    font-size: 4rem;
    margin: 2rem auto;
  }

  &Username {
    font-size: 1.8rem;
    opacity: 0.7;
    margin: 0 auto;
  }

  &Sub {
    font-size: 2.2rem;
    margin: 2rem auto;
    opacity: 0.9;
  }

  &Links {
    display: flex;
    gap: 2rem;
    margin: 4rem auto;
    font-size: 2.2rem;
  }

  &Link {
    cursor: pointer;
  }
}

.buttonsBox {
  display: flex;
  gap: 1rem;
  margin: 0 auto;

  button {
    height: 4rem;
    font-size: 1.8rem;
  }
}

.cards {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 25rem);
  gap: 2rem;
}
