@import "../../styles/utils/variables";

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 4.5rem 6rem;
  border-radius: 10px;
  width: 33%;
  min-height: 38rem;
  height: max-content;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);

  &Title {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &Button {
    align-self: center;
    width: 60%;
    height: 3.5rem;
    transition: all 0.1s;
    letter-spacing: 0.1rem;

    &:hover,
    &:active {
      box-shadow: 7px 3px 3px rgba(0, 0, 0, 0.2);
      border: 1px solid black;
      transform: translateY(-0.1rem);
    }
  }

  &Question {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
  }

  &Link {
    text-decoration: underline;
    color: $primary-color;
    transition: all 0.3s;

    &:hover {
      color: darken($primary-color, 30%);
    }
  }
}
