@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.formSignIn {
  justify-content: space-between;

  .label {
    font-size: 1.3rem;
  }

  .inputBox {
    position: relative;
  }

  .error {
    position: absolute;
    bottom: 13px;
    left: 0;
    color: red;

    &Input {
      border: 1px red solid;
    }
  }

  .input {
    margin-bottom: 2rem;
    margin-top: 0.5rem;

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
}
