@import "../../styles/utils/variables";

.popup {
  display: flex;
  position: relative;

  background-color: white;
  border-radius: 15px;
  z-index: 1001;

  height: max-content;
  padding: 30px;
  gap: 50px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);

  .popupDeleteImg {
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  .popupEditImg {
    flex-direction: row;
    align-items: center;
    width: 40%;
  }

  h1 {
    text-align: center;
    font-size: 25px;
  }

  &Close {
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 1rem;

    &:hover {
      cursor: pointer;
      color: darken($text-color, 50%);
    }
  }
}
