.colors {
  width: 20px;
  height: 20px;
}

.rowColors {
  display: flex;
}

.colorsBlock {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background-color: #645a6e47;
  width: max-content;
  padding: 4px;
  border: 1px solid #645a6e;
}
