@import "../styles/variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: $text-color;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}
