@import "../../styles/utils/variables.scss";

.header {
  border-bottom: 1px $text-color solid;
  height: 90px;
  margin: 0 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBlock {
  position: absolute;
  right: 90px;
  display: flex;
  gap: 20px;
}
