@import "../../styles/variables.scss";

.canvas {
  background-color: white;
  border: $text-color solid 1px;
  border-radius: 30px;
  margin-right: 14%;
  cursor: none;
}

.paintBlock {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 85px 0;
}

.toolsWithButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.saveButton {
  width: 180px;
  margin: 0;
  font-size: 17px;
}

.cursor {
  position: absolute;
  border-radius: 50%;
  //transition: width 0.3s, height 0.3s;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
